<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <dependency>
        <groupId>com.ckeditor</groupId>
        <artifactId>ckeditor-java-core</artifactId>
        <version>3.6.4</version>
    </dependency>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>controller.filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>user</filter-name>
        <filter-class>controller.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/post</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AttachServlet</servlet-name>
        <servlet-class>controller.servlet.AttachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>controller.servlet.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>controller.servlet.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerarchServlet</servlet-name>
        <servlet-class>controller.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherPost</servlet-name>
        <servlet-class>controller.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>controller.servlet.ViewPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostManagement</servlet-name>
        <servlet-class>controller.servlet.admin.PostManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controller.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>controller.servlet.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerarchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherPost</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostManagement</servlet-name>
        <url-pattern>/postmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttachServlet</servlet-name>
        <url-pattern>/attach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/resource</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
